.main-container {
  background-color: #f5f7fa;
}

.white-card {
    background-color: white;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px; /* Adjust border radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}
