<div class="main-container">
  <div class="navbar-container">
    <div class="actions">
      <div class="win-action">
        <img src="../../assets/icons/x.svg" (click)="closeApp()" />
        <img src="../../assets/icons/dice-bg.svg" (click)="maxApp()" />
        <img src="../../assets/icons/dash.svg" (click)="minApp()" />
      </div>
      <div class="com-action">
        <div class="in-action1">
          <img src="../../assets/icons/grid.svg" />
          <p class="display-10">menu</p>
        </div>
        <div class="in-action2">
          <img src="../../assets/icons/bell.svg" />
          <p>menu</p>
        </div>
        <div class="in-action3">
          <img src="../../assets/icons/moon.svg" />
          <p>menu</p>
        </div>

        <div class="in-action4">
          <img src="../../assets/icons/power.svg" />
          <p>menu</p>
        </div>
      </div>
    </div>

    <div class="searchbar">
      <input type="search" placeholder="Searchupd Here" /><img
        src="../../assets/icons/search.svg"
      />
    </div>
    <div class="close-subapp" *ngIf="showIcon()">
      <img src="../../assets/icons/x.svg" (click)="closeSubApp()" />
    </div>

    <div class="upgrade-btn">
      <button
        class="btnUpgrade p-1 fw-bold"
        id="btnUpgrade"
        *ngIf="!isUpdate"
        (click)="handleUpgradeButtonClick()"
      >
        Upgrade
      </button>

      Current value: <strong id="counter">{{ counter }}</strong>
    </div>
    <div class="app-logo px-2">
      <div class="logo-info">
        <p class="mb-2">وزارة الداخلية</p>
        <p style="color: #2a7be4">اسم التطبيق</p>
      </div>
      <div class="logo"><img src="../../assets/images/MOI LOGO.svg" /></div>
    </div>
  </div>

  <div class="body-side">
    <div class="body-content"></div>
    <!--APPBODY has multiple Applications-->
    <div class="app-body">
      <app-apps-lists></app-apps-lists>
    </div>
    <!--APPBODY has multiple Applications  ENDS HERE-->
    <div class="app-side">
      <div class="d-flex justify-content-end p-2">
        <p>القائمة الرئيسية</p>
        <img class="px-2" src="../../assets/icons/house-door.svg" />
      </div>
    </div>
  </div>
  <!--Footer-->
  <div class="footer">
    <div class="footer-in d-flex">
      <div class="footer-side d-flex">
        <p>الإدارة العامة لنظم المعلومات</p>
        <img class="px-2" src="../../assets/icons/buildings.svg" />
      </div>
      <div class="footer-side d-flex">
        <p>10498 - سعيد صقر سعد المطيري</p>
        <img class="px-3" src="../../assets/icons/person.svg" />
      </div>
    </div>

    <div class="ellipse-side d-flex">
      <p class="px-2">متصل</p>
      <img class="px-2" src="../../assets/icons/Ellipse 329.svg" />
    </div>
  </div>
</div>
