<!--APPBODY has multiple Applications-->
<div class="app-body w-100 h-100" #appbodyDiv>
  <div class="app-container d-flex flex-row">
    <div class="app-list m-5">
      <div
        class="apps"
        (click)="loadIntoApp('https://angular.io/guide/hydration')"
      >
        <img src="../../../assets/images/MOI LOGO.svg" alt="door" />
      </div>
    </div>
    <div class="app-list m-5">
      <div
        class="apps"
        (click)="loadIntoApp('https://releases.electronjs.org/')"
      >
        <img src="../../../assets/images/social-youtube.svg" alt="door" />
      </div>
    </div>
    <div class="app-list m-5">
      <div
        class="apps"
        (click)="loadIntoApp('https://angular.io/guide/hydration')"
      >
        <img src="../../../assets/images/MOI LOGO.svg" alt="door" />
      </div>
    </div>
    <div class="app-list m-5">
      <div
        class="apps"
        (click)="loadIntoApp('https://angular.io/guide/hydration')"
      >
        <img src="../../../assets/images/social-youtube.svg" alt="door" />
      </div>
    </div>
    <div class="app-list m-5">
      <div
        class="apps"
        (click)="loadIntoApp('https://angular.io/guide/hydration')"
      >
        <img src="../../../assets/images/MOI LOGO.svg" alt="door" />
      </div>
    </div>
    <div class="app-list m-5">
        <div
          class="apps"
          (click)="loadIntoApp('https://angular.io/guide/hydration')"
        >
          <img src="../../../assets/images/social-youtube.svg" alt="door" />
        </div>
      </div>
  </div>
</div>
<!--APPBODY has multiple Applications  ENDS HERE-->
